.serviceContainer {
    display: flex;
    flex-direction: column;
    margin: 20px 100px;
}

.serviceCard {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.serviceCardImg {
    height: 480px;
    text-align: center;
    overflow: hidden;
    width: 480px;
    margin-right: -90px;
}

.serviceCardImg > img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.serviceCardImg > img:hover {
    transform: scale(1.3);
}

.serviceCardText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
}

.listDiv {
    display: flex;
    justify-self: space-between;
}

.listDiv > ul {
    list-style-type: none;
}

.listDiv > ul > li {
    color: #B1B1B1;
    font-size: 13px;
}

.serviceLink {
    color: #363636;
    font-weight: 700;
    transition: 0.3s;
}

.serviceLink:hover {
    color: #33c1ff;
    text-decoration: underline;
    cursor: pointer;
}
